@model UserCreateModel

<form asp-action="Create" asp-controller="User" method="post" class="p-3 mx-auto w-75 shadow">
	<div class="mb-3">
			<select class="form-select" asp-items="@Model.Roles" asp-for="@Model.RoleId">
				<option value="0">Choose Role</option>
			</select>
			<span asp-validation-for="@Model.RoleId" class="text-danger"></span>
    </div>

	<div class="mb-3">
		<label>User Name:</label>
		<input asp-for="@Model.UserName" class="form-control" />
		<span class="text-danger" asp-validation-for="@Model.UserName"></span>
	</div>

	<div class="mb-3">
		<label>Email:</label>
		<input  asp-for="@Model.Email" class="form-control" />
			<span class="text-danger" asp-validation-for="@Model.Email"></span>
	</div>

	<div class="mb-3">
		<button type="submit" class="btn btn-primary">Save</button>
	</div>



	<div class="text-danger mt-2" asp-validation-summary="ModelOnly">

	</div>
</form>