@model List<RoomListDto>
<!-- Breadcrumb Section Begin -->
<div class="breadcrumb-section">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="breadcrumb-text">
					<h2>Available Rooms</h2>
					<div class="bt-option">
						<a href="./home.html">Home</a>
						<span>Rooms</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Breadcrumb Section End -->
<!-- Rooms Section Begin -->
<section class="rooms-section spad">
	<div class="container">
		<div class="row">
			@foreach (var room in Model)
			{
				<div class="col-lg-4 col-md-6">
					<div class="room-item">
						<img src="/theme/sona/img/room/room-1.jpg" alt="">
						<div class="ri-text">
							<h4>@room.RoomName</h4>
							<h4 class="text-muted">@room.ReservationOption</h4>
							
							@if (room.EarlyBookingDisRate > 0)
							{   <h3> @(room.EarlyBookingDisRate.ToString() + " %") <span class="text-muted">Early Booking Discount</span></h3>
								<h3> <del>@(room.MainAmount.ToString() + " $")</del> </h3>
								<h3> @(room.DiscountedAmount.ToString() + " $")</h3>
							}
							else
							{
								 <h3>@(room.MainAmount.ToString() + " $")</h3>
							}
							<table>
								<tbody>

									<tr>
										<td class="r-o">Capacity:</td>
										<td>@room.MaxAdults </td>
									</tr>
									<tr>
										<td class="r-o">Bed:</td>
										<td>@room.BedInfo</td>
									</tr>
									<tr>
										<td class="r-o">Services:</td>
										<td>@room.Info</td>
									</tr>
								</tbody>
							</table>
							<a href="#" class="primary-btn">More Details</a>
							<a asp-action="CustomerGuestInfo" asp-controller="Home" class="primary-btn" asp-route-totalAmount="@room.DiscountedAmount" asp-route-roomId="@room.Id">Select Room</a>
						</div>
					</div>
				</div>
			}

		</div>
	</div>
</section>
<!-- Rooms Section End -->
