@model RoomUpdateViewModel
<div class="dummy mt-5"></div>
<div class="mt-4">
	<form asp-action="Update" asp-controller="AdminRoom" method="post" class="p-5 w-75 mx-auto">
		<input type="hidden" asp-for="@Model.Id" />
		<div class="mb-3">
			<label>Room Name:</label>
			<input type="text" class="form-control" asp-for="@Model.RoomName" />
		</div>
		<div class="mb-3">
			<label>Room No:</label>
			<input type="number" class="form-control" asp-for="@Model.RoomNo" />
		</div>
		<div class="mb-3">
			<label>Room Price:</label>
			<input type="number" class="form-control" asp-for="@Model.RoomPrice" />
		</div>
		<div class="mb-3">
			<label>Max Adults:</label>
			<input type="number" class="form-control" asp-for="@Model.MaxAdults" />
		</div>
		<div class="mb-3">
			<label>Max Children:</label>
			<input type="number" class="form-control" asp-for="@Model.MaxChildren" />
		</div>
		<div class="mb-3">
			<select class="form-select" asp-items="@Model.RoomTypes" asp-for="@Model.RoomTypeId">
				<option value="0" >Choose Room Type</option>
			</select>
		</div>
		<div class="mb-3">
			<label>Bed Info:</label>
			<input type="text" class="form-control" asp-for="@Model.BedInfo" />
		</div>
		<div class="mb-3">
			<select class="form-select" asp-items="@Model.RoomStatuses" asp-for="@Model.RoomStatusId">
				<option value="0" >Choose Room Status</option>
			</select>
		</div>
		<div class="mb-3">
			<label>Info:</label>
			<input type="text" class="form-control" asp-for="@Model.Info" />
		</div>

		<div class="mb-3 text-end">
			<button type="submit" class="btn btn-primary"> Room Update </button>
		</div>

		<div class="text-danger" asp-validation-summary="All"> 

		</div>

	</form>
</div>